{{!< default}}
<div class="container">
	<h1>NAP TECH TEST</h1>
	<p>Create a <u>categloue</u> <u>expirence</u> using two sample product APIs.</p>
	<h2>Product lists</h2>

    <div class="row">
        {{#everyNth products.data 3}}
            {{#if isModZeroNotFirst}}
                </div>
            {{/if}}

            {{#if isModZero}}
                <div class="row">
            {{/if}}

            <div class="col-md-1">
                <img src="{{image.outfit}}"/>
                <br/>
                {{ name }}
            </div>

            {{#if isLast}}
            </div>
            {{/if}}
        {{/everyNth}}
    </div>
</div>
