{{!< default}}
<div class="container">
	<h1>NAP TECH TEST</h1>
	<p>Create a <u>categloue</u> <u>expirence</u> using two sample product APIs.</p>
	<h2>Product lists</h2>

    <table style="width: 100%">
        {{#everyNth products.data 3}}
            {{#if isModZeroNotFirst}}
                </tr>
            {{/if}}

            {{#if isModZero}}
                <tr>
            {{/if}}

            <td>
                <img src="{{image.outfit}}"/>
                <br/>
                {{ name }}
            </td>

            {{#if isLast}}
            </tr>
            {{/if}}
        {{/everyNth}}
    </table>
</div>
